:root{
    --section-1:#201c1c;
    --mainTextColor:#ffff;
    --right-left-container:#262626;
    --shadow:#3f3f3f;
    --shadow-text:rgba(74, 69, 56, 0.8);
    --links:rgba(129, 129, 236, 0.758);
}
