
  body.lights-on {
    --section-1:#201c1c;
    --mainTextColor:#ffff;
    --right-left-container:#262626;
    --shadow:#3f3f3f;
    --shadow-text:rgba(74, 69, 56, 0.8);
    --links:rgba(129, 129, 236, 0.758);
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    /* background-color: #333; */
  }
  @media only screen and (max-width:850px){
    .switch{
      width: 140px;
      height: 40px;
    }

  }

  .switch input {
    visibility: hidden;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #dad3c7;
    box-shadow: 7px -7px 9px rgba(21, 18, 18, 0.2), 7px 7px 9px rgba(29, 4, 4, 0.2);
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 30px;
    background: #fff;
    left: 4px;
    /* bottom: 4px; */
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  input:checked + .slider {
    /* background: #d8acb2; */
    background: #383131;

  }
  .lights-on .slider:before {
    transform: translateX(90px) ;
    background-color: transparent;
    box-shadow: 10px 10px   black;
    bottom: 14px;
  }
  .slider.round {
    border-radius: 50px;
    border: 1px solid var(--section-1);

  }
  .slider.round:before {
    border-radius: 50%;
    
  }