
:root{
    --section-1:#eaeaea;
    --mainTextColor:black;
    --right-left-container:rgba(255, 255, 255, 0.654);
    --shadow:#cbc8bd;
    --shadow-text:rgba(241, 239, 232, 0.999);
    --btn:#262626;
    --links:blue;
    --changeOutline:rgb(7, 85, 119);
}